:root {
  --white: #FFFFFF;
  --black: #000000;
  --yellow: #800015;
  --gray: #2BBE34;
  --gray-blue: #0D1423;

  --light-purple: #EFE9F9;

  --primary: #FFE071;
  --secondary: #0C151D;
  --third: #171F26;
  --fourth: #3D3D3D;
  --fifth: #A3ABB2;


  --blue-heart: #ACD9B2;

  --backgroundSection: #171F26;
  --backgroundPag: #0C151D;
  --clear-grey: #A3ABB2;

  --sm: 14px;
  --md: 22px;
  --lg: 46px;
}


/* Media query para dispositive mobiles */
@media (max-width: 600px) {
  :root {
  --sm: 10px;
  --md: 16px;
  --lg: 40px;
  }
}



body {
  background-color: var(--backgroundPag);
}