.buttons_primari {
    width: 756px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0px 0 36px 0;
}

.buttons {
    width: 618px;
    height: 80px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.buttons button {
    font-size: var(--md);
    color: var(--fifth);
    background-color: var(--primary);
    margin-right: 50px;
}
