.button {
    width: 290px;
    height: 80px;
    border-radius: 10px;
    margin: 0;
}

.button:hover {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    
}

.text {
    margin: 0;
    padding: 0;
}

.buttonOne {
    font-size: var(--md);
    color: var(--fifth);
    background-color: var(--primary);
    margin-right: 50px;
  }
  
.buttonTwo {
    font-size: var(--md);
    color: var(--fifth);
    background-color: var(--third);
}