.imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagesContainer img {
    width: 362px;
    height: 226px;
    margin: 0 26px 52px;
    border-radius: 15px;
    background-color: var(--black);
}