.imagesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagesContainer img {
    width: 362px;
    height: 226px;
    margin: 0 26px 52px;
    border-radius: 15px;
    background-color: var(--black);
}

/* .imagesContainer img:hover {
    
} */

/* Media query para dispositive mobiles */
@media only screen and (max-width: 375px) {
    .imagesContainer img {
        width: 150px;
        height: 110px;
        margin: 0 13px 25px;
        border-radius: 8px;
    }
}


/* Media query para dispositive tablet */
@media only screen and (max-width: 768px) {
    .imagesContainer img {
        width: 300px;
        height: 200px;
        border-radius: 15px;
    }
}