.perfil_container {
    background-color: var(--backgraud-pag);
    font-family: "Poppins";
    margin: 0;
    color: var(--fourth);
    display: flex;
    width: 631px;
}

.foto_Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil_info {
    width: 372px;
    height: 156;
    margin: 30px 0 30px 50px;
}

.perfil_info img {
    margin-right: 25px;
}

.foto_perfil {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white);
    border: 5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center
}

.foto_perfil img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    object-fit: cover;
}

.redes_sociales {
    display: flex;
    margin: 0;
}

.redes_sociales img:hover{
    cursor: pointer;
}

.title{
    font-size: var(--lg);
    display: flex;
}

.subtitle {
    color: var(--fifth);
    font-size: var(--md);
}
