.profileContainer {
    font-family: "Poppins";
    margin: 0;
    color: var(--fourth);
    display: flex;
    width: 631px;
}

.photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileInfo {
    width: 372px;
    height: 156px;
    margin: 30px 0 30px 50px;
}

.profileInfo img {
    margin-right: 25px;
}

.photoProfile {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white);
    border: 5px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center
}

.photoProfile img {
    width: 192px;
    height: 192px;
    border-radius: 50%;
    object-fit: cover;
}

.socialNetworks {
    display: flex;
    margin: 0;
}

.socialNetworks img:hover {
    cursor: pointer;
}

.title {
    text-align: center;
    color: var(--white);
}

.subtitle {
    color: var(--fifth);
    font-size: var(--md);
}

/* Media query para dispositive mobiles */
@media (max-width: 375px) {
    /* .profileContainer {
        width: 250px;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .photoContainer {
        width: 250px;

    }

    .profileInfo {
        width: 250px;
        margin: 0;
    }

    .profileInfo {
        width: 250px;
        height: 156px;
    }
    
    .profileInfo img {
        margin-right: 25px;
    }
    
    .photoProfile {
        width: 150px;
        height: 150px;
    }
    
    .photoProfile img {
        width: 145px;
        height: 145px;
    }
    
    .title {
        text-align: center;
    }
    
    .subtitle {
        text-align: center;
    } */
}


/* Media query para dispositive tablet */
@media only screen and (max-width: 768px) {
    /* .profileInfo {
        width: 750px;
    }

    .photoContainer {
        width: 750px;
    } */
}